/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    color: #333;
    line-height: 2;
}

/* Navbar */
.navbar {
    background-color: white;
    padding: 20px 100px;
}

.navbar-container {
    font-weight: 600;
    color: #333;
    cursor: pointer;
    text-align: left;
}

.navbar-links {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.navbar-links li {
    margin: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar-links li:hover {
    color: #a3a3a3;
}

.navbar {
    border-bottom: 1px solid #ddd;
}

/* Homepage Container */
.homepage-container {
    margin: 50px 0;
    padding-left: 100px;
}

.homepage-container h1 {
    font-size: 35px; 
    font-weight: 100;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.homepage-container p {
    font-size: 15px; 
    margin-bottom: 30px;
    color: #555;
    letter-spacing: 1px;
}

.homepage-buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.homepage-buttons button {
    background-color: #000000;
    color: white;
    font-size: 15px;
    padding: 12px 24px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.homepage-buttons button:hover {
    background-color: #d6d6d6;
}

/* Content Sections */
.content-section {
    margin: 50px 0;
    padding-left: 100px;
    text-align: left;
}

.content-section h2 {
    font-size: 20px; 
    font-weight: 100;
    margin-bottom: 15px;
    color: #333;
    letter-spacing: 2px;
}

.content-section p {
    font-size: 15px; 
    color: #666;
    letter-spacing: 1px;
}

/* Footer */
.footer {
    background-color: #333;
    padding: 0px 100px;
    color: white;
    text-align: left;
    margin-top: 0;
}

.footer-content p {
    font-size: 12px; 
}

.footer-links p {
    font-size: 12px; 
    margin-top: 5px;
    color: #bbb;
}

.footer-links p:hover {
    color: #fff;
    cursor: pointer;
}
